arrow==0.7.0
beautifulsoup4==4.4.1
binaryornot==0.4.0
bs4==0.0.1
chardet==2.3.0
click==6.6
cookiecutter==1.4.0
future==0.15.2
Jinja2==2.8
jinja2-time==0.1.0
lxml==3.6.0
MarkupSafe==0.23
poyo==0.2.0
python-dateutil==2.5.3
pytidylib==0.2.4
requests==2.10.0
selenium==2.53.2
six==1.10.0
whichcraft==0.4.0
